<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.mapper.MenuMapper">

    <select id="queryAllMenuByUsername" resultType="java.lang.String">
        select  m.perms
        from sys_user as u
        join sys_user_role as ur on u.user_id=ur.user_id
        join sys_role as r on ur.role_id=r.role_id
        join sys_role_menu as rm on r.role_id=rm.role_id
        join sys_menu as m on rm.menu_id=m.menu_id
        where u.username=#{userName}
    </select>
    <select id="queryAllMenByUsernameAndParentid" resultType="study.vo.MenuVo">
        select DISTINCT m.menu_id,m.parent_id,m.name,m.url,m.perms,m.type,m.icon,m.order_num
        from sys_user as u
        join sys_user_role as ur on u.user_id=ur.user_id
        join sys_role as r on ur.role_id=r.role_id
        join sys_role_menu as rm on r.role_id=rm.role_id
        join sys_menu as m on rm.menu_id=m.menu_id
        where u.username=#{userName} and m.parent_id=#{parentId}
    </select>
</mapper>